@media (max-width: 768px) {
    header {
        padding: 0;
    }

    header img {
        border-radius: 0;
    }

    .recipe {
        padding: 30px;
    }

    .recipe-container {
        margin: 0;
        border-radius: 0;
    }
}